apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: f1-app-hpa
  namespace: f1-vote
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: f1-app
  minReplicas: 2   
  maxReplicas: 8   
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70