- name: Install K3s Master
  hosts: master
  become: yes
  tasks:
    - name: Download and install K3s (Master)
      shell: curl -sfL https://get.k3s.io | sh -
      args:
        creates: /usr/local/bin/k3s  # Do not run if already installed

    - name: Wait for K3s to start
      pause:
        seconds: 10

    - name: Get the K3s Token
      slurp:
        src: /var/lib/rancher/k3s/server/node-token
      register: k3s_token_base64

    - name: Decode Token
      set_fact:
        k3s_token: "{{ k3s_token_base64['content'] | b64decode | trim }}"

    - name: Print Token
      debug:
        msg: "K3s Token: {{ k3s_token }}"

- name: Install K3s Workers
  hosts: workers
  become: yes
  tasks:
    - name: Download and join cluster
      shell: "curl -sfL https://get.k3s.io | K3S_URL=https://{{ hostvars[groups['master'][0]]['inventory_hostname'] }}:6443 K3S_TOKEN={{ hostvars[groups['master'][0]]['k3s_token'] }} sh -"
      args:
        creates: /usr/local/bin/k3s-agent