# roles/worker/tasks/main.yml
- name: Join K3s Cluster
  shell: >
    curl -sfL https://get.k3s.io | 
    K3S_URL=https://{{ hostvars[groups['master'][0]]['inventory_hostname'] }}:6443 
    K3S_TOKEN={{ hostvars[groups['master'][0]]['k3s_token'] }} 
    sh -
  args:
    creates: /usr/local/bin/k3s-agent